#bg-video {
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bg-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,1) 100%);
}

#container {
  text-align: center;
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 3;
}

#container-menu {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score-box {
  background-color: #ffffff;
  padding: 20px;
}

.frame {
  border: 3px solid #000;
  border-radius: 5px;
}

#card-details {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

#card-name {
  font-size: 0.8rem
}

#card-type {
  font-size: rem;
}

#container-battlefield {
  width: 65%;
}



/*@media only screen and (max-width: 500px) {
  #container {
    display: flex;
    flex-direction: column-reverse;
  }

  #container-menu {
    width: 100%;
  }
}*/